* {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100dvh;
  background: linear-gradient(180deg, rgba(74,70,150,1) 0%, rgba(9,9,121,1) 35%, rgba(74,0,255,0.18100650904893212) 75%, maroon 100%);
}

footer {
  font-size: small;
  text-align: center;
  padding-top: 20px;
}

#title {
  color: whitesmoke;
  text-shadow: maroon 2px 3px;
  text-align: center;
}

#btn-container {
  padding: 20px;
}

#btn-container > button {
  padding: 10px 40px;
  font-weight: bold;
  transition: all .5s ease;
}

#btn-container > button:hover {
  transform: scale(1.2);
  transition: all .5s ease;
  cursor: pointer;
}

#container {
  height: 600px;
  width: 600px;
  border: 5px solid black;
  background: white;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.cell {
  background-color: whitesmoke;
  border: 1px solid black;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.colored {
  background-color: dimgrey;
}